* {
  box-sizing: border-box;
  margin:0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:100%;
}
h1 {
  margin: auto;
  font-size: 175%;
  text-align: center;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
    .col-md-12 {
    float: left;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .col-sl-12 {
    float: left;
    width: 100%;
  }
}

section {   
      border: 1px solid black;
      margin: 30px 15px auto 15px;
      padding: 30px 20px 5px 15px;
      background-color: #CECEC1;
      position: relative;
    }
p {
      border: 1px solid black;
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 125%;
    }
#p1 {
      background-color: #FFC0CB;
      color: #36456F;
}
#p2 {
      background-color: #C12929; 
      color: #FFFFFF;     
    }
#p3 {
      background-color: #E1E1A5;
      color: #74400C;
    }

.row {
      position: relative;
      height: auto;
      color: black;
      width: 100%;
      margin: auto;
    }